* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #333333;
    color: white;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans Condensed', sans-serif;
}
h4, h5, h6{
    font-size: 16px;
}
h2{
    font-size: 48px;
    line-height: 64px;
}
h3{
    font-size: 24px;
    line-height: 32px;
}
.container{
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}
.button{
    display: inline-block;
    background-color: #D1A954;
    text-transform: uppercase;
    padding: 15px 40px;
    font-weight: bold;
    font-family: Open Sans Condensed;
    letter-spacing: 1px;
    color: #ffffff;
    cursor: pointer;
    border: none;
}
.header>.container{
    display: flex;
}
.header{
    padding-top: 50px;
}
.header-promo{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}
.nav>ul{
    display: flex;
    list-style: none;
}
.nav li:not(:last-child){
    margin-right: 64px;
}
.nav a{
    font-family: Open Sans Condensed;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.header_contact{
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-left: auto;
    border-bottom: solid #D1A954;
    padding-bottom: 3px;
}
.promo_contacts li:last-child{
    position: relative;
    padding-left: 50px;
    margin-left: 30px;
}
.promo_contacts li:last-child::before{
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: #c4c4c4;
    position: absolute;
    left: 0;
    top:50%;
    transform: translateX(-50%);
}
.promo{
    background-image: url(assets/promo_bg.png);
    background-size: cover;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.promo_contacts{
    background-color: rgba(0,0,0, .3);
    padding: 30px 60px;
    transform-origin:  left top;
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
    bottom: -120px;
    width: calc(100% - 120px);
}
.promo_contacts ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.promo_contacts li:not(:last-child){
    margin-right: 30px;

}
.promo_wrapper, .container{
    height: 100%;
}
.promo_slider, .promo_slide{
    display: flex;
}
.promo_slider{
    height: calc(100% - 100px);
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.icon_arrow{
    display: inline-block;
    width: 40px;
    height: 2px;
    background-color: #c4c4c4;
    vertical-align: middle;
    position: relative;
}
.icon_arrow::after,
.icon_arrow::before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 2px;
    background-color: #c4c4cc;
    position: absolute;
    right: 0;
}
.icon_arrow::after{
    transform: rotate(45deg);
    top: -3px;
}
.icon_arrow::before{
    transform: rotate(-45deg);
    top: 3px;
    }
.icon_arrow-right{
    margin-left: 20px;
}
.icon_arrow-left{
    transform: rotate(180deg);
    margin-right: 20px;
}
.promo_slide{
    justify-content: space-between;
    align-items: center;
}
.item img{
    width: 250px;
}
.promo_slide .item:last-child{
    margin-left: 100px;
    margin-right: 100px;
}
.promo_slide .button{
    margin-top: 40px;
}
.promo_slide h2{
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 64px;
    letter-spacing: 3px;
}
.promo_slide .item:first-child{
    width: 50%;
}
.promo_slide_buttons{
    margin-left: auto;
    width: 250px;
    margin-right: 100px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.buttons button{
    font-family: Open Sans Condensed;
    text-transform: uppercase;
    font-weight: bold;
    border: 0px;
    background: none;
    color: #C4C4C4;
    cursor: pointer;
}
.section_header{
    text-align: center;
    font-family: Open Sans Condensed;
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: 0.1em;
    margin-bottom: 100px;
}
.section_header h2{
    font-weight: normal;
}
.about{
    color: #C4C4C4;
    padding-top: 100px;
}
.about_wrapper{
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 100px;
}
.about_wrapper .about_item:not(:last-child){
    padding-right: 30px;
}
.about_item h1{
    padding-bottom: 40px;
    text-transform: uppercase;
    font-family: Open Sans Condensed;
    letter-spacing: 0.1em;
    font-size: 20px;
}
.about_item h3{
    padding-bottom: 40px;
    text-transform: uppercase;
    font-family: Open Sans Condensed;
    letter-spacing: 0.1em;
    font-size: 20px;
}
.about_item:first-child p{
    color: #ffffff;
}
.about_item:first-child{
    width: 40%;
}
.item_content p{
    padding: 20px 0;
    font-weight: bold;
}
.color_gold{
    color: #D1A954;
}
.plays{
    padding: 100px 0;
}
.plays_list ul{
    display: flex;
    align-items: center;
    justify-items: center;
    list-style: none;
    margin-left: 150px;
    overflow: hidden;
}
.plays_list li{
    width: 440px;
    height: 550px;
    flex-shrink: 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.plays h3{
    color: #C4C4C4;
    margin: 40px;
    text-transform: uppercase;
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.05em;
}
.plays_item-data{
    position: absolute;
    color: #C4C4C4;
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transform: rotate(-90deg);
    transform-origin:  left top;
    margin: 40px;
    bottom: 0;
}
.plays_item_background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.plays_item_background:hover{
    background-color: transparent;
}
.plays_list .show{
    display: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #D1A954;
}
.plays_item_background:hover > .show{
    display: block;
}
.show{

}
/* я здесь */
.show::before{
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;       
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
        /* думаю можно проще */
}
.show::after{
    position: absolute;
    display: block;
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #D1A954;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* думаю можно проще */
}
.awards{
    margin-bottom: 100px;
}
.awards_wrapper{
    position: relative;
    background-image: url('assets/award_pic.png');
    background-size: contain;
    margin: 0 auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.awards_content{
    display: flex;
    align-items: center;
    justify-items: center;
}
.awards_content-stars{
    margin-top: 50px;
}
.awards_content-stars>ul{
    position: absolute;
    display: flex;
    align-items: center;
    justify-items: center;
    list-style: none;
    width: 230px;
    height: 25px;
}
.awards_content-stars>ul li{
    background-image: url('assets/star.png');
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 75px;
}
.awards_years{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 125px 100px 125px 190px;

}
.awards_years span{
    font-family: Open Sans Condensed;
    font-weight: bold;
    font-size: 72px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.awards_content-text{
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    color: #C4C4C4;
    width: 75%;
}
.partners{
    margin: 0 auto;
}
.partners_content{
    width: 100%;
    height: 100%;
}
.partners_content ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    flex-wrap: wrap;
}
.partners_content>ul li{
    background-image: url('assets/partners_logo.png');
    width: 200px;
    height: 100px;
    background-repeat: no-repeat;
    padding: 40px;
}
.callback{
    margin-bottom: 100px;
}
.callback_wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.form_container {
    display: grid;
    grid-template-columns: repeat(2, 180px) 310px;
    grid-template-rows: repeat(2, 35px) 100px;
    gap: 30px 30px;
    padding-left: 125px;
    right: 0;
  }
.form_container input{
    background-color: #444444;
    background: #444444;
    border: 1px solid #616161;
    box-sizing: border-box;
    color: #ffffff;
}
.form_container input::placeholder{
    padding: 15px;
    color: #989898;
}
.form_message::placeholder{
    /* не двигается */
}
.form_button>button{
    display: block;
    margin-left: auto;
    margin-top: auto;
}
.form_name {
    grid-area: 1 / 1 / 2 / 2;
    }
.form_company {
    grid-area: 1 / 2 / 2 / 3;
    }
.form_message {
    grid-area: 1 / 3 / 3 / 4;
}
.form_phone {
    grid-area: 2 / 1 / 3 / 2;
}
.form_email {
    grid-area: 2 / 2 / 3 / 3;
}
.form_info {
    grid-area: 3 / 1 / 4 / 3;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #989898;
}
.form_button {
    grid-area: 3 / 3 / 4 / 4;
}
.callback_info{
    color: #989898;
    margin-bottom: auto;
}
.callback_info>ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    font-family: Open Sans Condensed;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.callback_info>ul li{
    padding-bottom: 25px;
}
.footer>.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #565656;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #989898;
}
.footer_content{
    padding: 30px;
}
/* 
    форму на грид
    и иконку с лупой
    в чт на пары к 12
*/
/* левый отступ контейнера не камильфо */